@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,700;1,800;1,900&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,700;1,800;1,900&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.playfairtext {
  font-family: 'Playfair Display', serif;
}

@media (min-width:640px) {
  .ant-carousel {
    display: none!important;
  }
}
/* 
.ant-card-body{
  padding: 0 !important;
} */
